p{
  margin-right: auto;
  padding: 10px;
}

.fas{
  font-size: x-large;
}

.icon{
  padding: 16px;
}

.button{
  padding: 10px;
}

.first-row{
  width: 65%;
  margin: 10%;
padding: 16px;
}

.container{
  width: 45%;
  padding: 70px;
}

.header{
  /* display: flex; */
  justify-content: space-between;
  margin: 30px;
}
.list{
  /* display: flex; */
  justify-content: space-between;
}


.btn{
  margin-left: 10px;
  padding: 10px;
}

.check{
  cursor: pointer;
}